.client-text h3{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3d4459;
    margin-bottom: 20px;
    text-align: center;
}

.client-text h2{
    font-family: 'Varela Round', sans-serif;
    color: #4632da;
    font-size: 35px;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .clients{
        margin-top: 50px;
    }
    .client-logo{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 767px) {
    .intro-text h3{
        font-size: 12px;
    }

    .intro-text h2{
        font-size: 20px;
    }
}