.services-text{
    margin-top: 120px !important;
    margin-bottom: 70px;
}

.services-text h3{
    color: #4632da;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.services-text h2{
    color: #3d4459;
    font-family: 'Varela Round', sans-serif;
    font-size: 45px;
}

.detail-card{
    border-radius: 1rem 1rem 1rem 4rem;
    height: 400px;
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-top: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    border:solid;
    border-color: rgb(248, 244, 244);
    box-shadow: 5px 5px 20px rgb(248, 244, 244);
}

.services-card h4{
    margin-top: 20px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #3d4459;
}

.services-card p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #3d4459;
}

.services-card a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #4632da;
    font-weight: 600;
}

.services-card a:hover{
    text-decoration: none;
    color: #00dafc;
}

@media only screen and (max-width: 767px) {

    .services-text{
        margin-bottom: 30px;
    }

    .services-text h2,h3,p{
        text-align: center;
    }

    .services-text h3{
        font-size: 12px;
    }

    .services-text h2{
        font-size: 20px;
    }

    .services-card h4{
        font-size: 15px;
    }

    .services-card p{
        font-size: 10px;
    }

    .services-card a{
        font-size: 10px;
    }

    .services-card img{
        width: 30px !important;
    }

    .detail-card{
        height: auto;
        width: 20rem !important;
        margin-right: 0%;
    }

    .services-card{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 991px) {
    .detail-card h4,p{
        text-align: center;
    }
    .detail-img{
        display: flex;
        justify-content: center;
    }
    .detail-link{
        display: flex;
        justify-content: center;
    }
}